<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158214408-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158214408-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="G&D Electro Group предлага висококачествени електроуслуги за частни, комерсиални и промишлени клиенти. Нашият екип от опитни електротехници предлага широк спектър от услуги, включително инсталиране, ремонт и поддръжка. Свържете се с нас днес.">
<title>
    {% if page.title %}
    {{page.title}}
    {% else %}
    {{site.title}}
    {% endif %}
</title>
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
<link rel="canonical" href="https://gdelectrogroup.com/">