<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QS4PPB1N89"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QS4PPB1N89');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://www.googletagmanager.com https://www.google-analytics.com 'unsafe-inline'; style-src 'self' https://use.fontawesome.com https://fonts.googleapis.com 'unsafe-inline'; img-src 'self' data: https:; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data:; connect-src 'self' https://www.google-analytics.com https://www.googletagmanager.com; frame-src https://www.google.com; object-src 'none'; base-uri 'self'; form-action 'self'">
<meta name="referrer" content="strict-origin-when-cross-origin">
{% if page.url == '/404/' or page.url == '/README/' or '/_posts/' in page.url %}
<meta name="robots" content="noindex, follow">
{% endif %}
{% set metaDescription = description or page.description or "G&D Electro Group предлага висококачествени електроуслуги за частни, комерсиални и промишлени клиенти. Нашият екип от опитни електротехници предлага широк спектър от услуги, включително инсталиране, ремонт и поддръжка. Свържете се с нас днес." %}
<meta name="description" content="{{ metaDescription }}">
<meta property="og:locale" content="bg_BG">
<meta property="og:site_name" content="{{ site.title }}">
<title>
  {% if title %}
  {{ title }}
    {% else %}
  {{ site.title }}
    {% endif %}
</title>
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
<link rel="canonical" href="{{ site.url }}{{ page.url | default('/') }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ metaDescription }}">
<meta property="og:url" content="{{ site.url }}{{ page.url | default('/') }}">
<meta property="og:image" content="{{ site.url }}/images/home-images/home-page-1.jpg">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Electrician",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}",
  "image": "{{ site.url }}/images/site-logo.jpg",
  "telephone": "{{ site.phone }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address.street }}",
    "addressLocality": "{{ site.address.city }}",
    "postalCode": "{{ site.address.postalCode }}",
    "addressCountry": "{{ site.address.country }}"
  },
  "sameAs": [
    "https://www.facebook.com/{{ site.facebook_username }}/",
    "https://www.instagram.com/{{ site.instagram_username }}/"
  ]
}
</script>