<div id="header-images">
    <a href="{{ site.baseurl }}/services/">
        <span id="header-text"></span>
    </a>
    <div id="switcher">
        <button type="button" class="switcher-btn" data-image-index="0" aria-label="Покажи първо изображение"><i class="fas fa-lightbulb"></i></button>
        <button type="button" class="switcher-btn" data-image-index="1" aria-label="Покажи второ изображение"><i class="fas fa-bolt"></i></button>
        <button type="button" class="switcher-btn" data-image-index="2" aria-label="Покажи трето изображение"><i class="far fa-star"></i></button>
    </div>
</div>