<label for="toggle-nav" class="toggle-nav-btn">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times-circle"></i>
</label>
<nav class="site-navigation">
    <div class="site-title">    
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/site-logo.jpg" alt="Site-logo"></a>
    </div>
    <ul class="navigation-links">
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title %}    
                <li{% if item.url == page.url %} class="selected"{% endif %}>
                    <a href="{{ site.baseurl }}{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>