@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");
:root {
  --font-family-content: 'Fira Sans', sans-serif;
  --font-family-headings: 'Merriweather', serif;
  --sections-border-radius: 0.3em; }

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font: 16px/1.5 var(--font-family-content, sans-serif);
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: var(--font-family-headings, serif);
  margin-bottom: 0.5em;
  font-weight: normal; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

li {
  list-style: none outside; }

a {
  text-decoration: none; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: #2e9eb7;
  color: #FFFFFF;
  border-radius: 0.3em;
  border: 1px solid transparent;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: 700; }
  .button:hover {
    cursor: pointer; }

body {
  background: #E4E4E4; }

.site {
  max-width: 90%;
  margin: 0em auto; }

@media (max-width: 1024px) {
  .site {
    max-width: 100%; } }

.site-header {
  border-radius: var(--sections-border-radius);
  overflow: hidden; }

#header-images {
  position: relative; }
  #header-images:before {
    display: block;
    content: '';
    padding-top: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

#header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.5em;
  background: linear-gradient(0deg, rgba(50, 51, 74, 0.6), rgba(50, 51, 74, 0.6));
  color: #FFFFFF;
  border-radius: var(--sections-border-radius); }
  #header-text:hover {
    cursor: -webkit-grab;
    cursor: grab; }

.switcher {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(50, 51, 74, 0.6), rgba(50, 51, 74, 0.6));
  text-align: center;
  padding: 1em 0;
  border-radius: var(--sections-border-radius); }
  .switcher a {
    padding: 0.5em 2em;
    color: #FFFFFF; }
    .switcher a:hover {
      outline: 1px solid #FFFFFF;
      color: #FDC63C; }

.image-one {
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/header-images/lights.jpg") no-repeat center center;
  background-size: cover;
  -webkit-animation: fadeIn 7s linear;
          animation: fadeIn 7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.image-two {
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/header-images/el.jpg") no-repeat center center;
  background-size: cover;
  -webkit-animation: fadeIn 7s linear 7s;
          animation: fadeIn 7s linear 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.image-three {
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/header-images/christmas.jpg") no-repeat center center;
  background-size: cover;
  -webkit-animation: fadeIn 7s linear 14s;
          animation: fadeIn 7s linear 14s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.99; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.99; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (max-width: 800px) {
  #header-text {
    padding: 0.5em;
    font-size: 0.8em; }
  .switcher {
    padding: 0.4em 0; }
    .switcher a {
      padding: 0.3em 1em; }
    .switcher i {
      font-size: 0.8em; } }

.site-navigation {
  display: flex;
  padding: 1em 0.5em;
  align-items: center;
  background: #2e9eb7;
  border-radius: var(--sections-border-radius);
  position: fixed;
  width: 90%;
  z-index: 1000; }
  .site-navigation .site-logo {
    position: relative; }
    .site-navigation .site-logo:after {
      display: inline-block;
      content: '';
      padding-left: calc(2em + 58px); }
    .site-navigation .site-logo img {
      position: absolute;
      transform: translateY(-29%);
      padding-left: 2em; }
  .site-navigation .navigation-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-bottom: 0;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding-right: 1em;
    text-align: center; }
    .site-navigation .navigation-links li {
      padding: 0.5em;
      position: relative; }
    .site-navigation .navigation-links a {
      padding: 0.5em;
      color: #FFFFFF; }
      .site-navigation .navigation-links a:after {
        content: '';
        position: absolute;
        top: 80%;
        height: 3px;
        width: 0%;
        left: 5%;
        background-color: rgba(0, 104, 56, 0.6);
        transition: 0.5s ease all 0.2s; }
      .site-navigation .navigation-links a:hover:after {
        width: 90%;
        transition: 0.3s ease all; }
  @media (max-width: 1024px) {
    .site-navigation {
      width: 100%; } }
  @media (max-width: 800px) {
    .site-navigation {
      position: static;
      width: 100%; }
      .site-navigation .navigation-links {
        display: block; } }

.site-footer {
  padding-top: 0.5em;
  text-align: center;
  background: #7A7A7A;
  color: #222225;
  border-radius: var(--sections-border-radius); }
  .site-footer p {
    padding: 1em 0.5em; }
  .site-footer .footer-links {
    display: flex;
    justify-content: center;
    padding-bottom: 0; }
  .site-footer .link:before {
    display: inline-block;
    content: '';
    font-family: 'Font Awesome 5 Brands';
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 1em 1em 0;
    color: #FFFFFF; }
  .site-footer .link.facebook:before {
    content: '\f09a';
    color: #23AAF2; }
  .site-footer .link.instagram:before {
    content: '\f16d';
    color: #FFAB4C; }
  .site-footer .link.github:before {
    content: '\f09b'; }

.site-about-us {
  width: 90%;
  margin: 0 auto;
  padding: 4em 0 3em; }
  .site-about-us h1 {
    text-align: center; }
  .site-about-us li:before {
    display: inline-block;
    content: '\f0a9';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    color: #006838;
    padding-right: 0.5em; }
  .site-about-us img {
    float: right;
    margin-left: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 104, 56, 0.85); }
  .site-about-us .image-left {
    float: left;
    margin-right: 1em; }

.site-services {
  text-align: center;
  width: 90%;
  margin: 0 auto; }
  .site-services header {
    padding: 4em 0 3em; }
    .site-services header p {
      font-style: italic; }
  .site-services .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0; }
    .site-services .services li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 32%;
      padding: 0.5em 0.5em;
      margin: 0.5em 0;
      border: 2px solid rgba(0, 104, 56, 0.6);
      border-radius: var(--sections-border-radius); }
      @media (max-width: 800px) {
        .site-services .services li {
          flex: 0 0 100%; } }
    .site-services .services li:before {
      display: block;
      content: '';
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      font-size: 5em;
      color: #FED136; }
    .site-services .services li:nth-child(1):before {
      content: '\f0eb'; }
    .site-services .services li:nth-child(2):before {
      content: '\f0e7';
      color: #ED1B24; }
    .site-services .services li:nth-child(3):before {
      content: '\f005';
      color: #00A4EF; }

.site-portfolio {
  width: 90%;
  margin: 8em auto; }
  .site-portfolio header {
    text-align: center; }
    .site-portfolio header p {
      font-style: italic; }
  .site-portfolio .portfolio-gallery {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense; }
    .site-portfolio .portfolio-gallery li {
      position: relative;
      overflow: hidden;
      box-shadow: 0px 0px 10px 0px rgba(0, 104, 56, 0.6); }
      .site-portfolio .portfolio-gallery li:before {
        display: block;
        content: '';
        padding-top: 100%; }
      .site-portfolio .portfolio-gallery li img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        height: 100%; }
      .site-portfolio .portfolio-gallery li > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .site-portfolio .portfolio-gallery li > a:hover:before {
          content: '';
          display: block;
          background: rgba(50, 51, 74, 0.6);
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .site-portfolio .portfolio-gallery li > a:hover strong {
          text-align: center;
          font-style: italic;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          color: #FFF; }
      .site-portfolio .portfolio-gallery li > a:hover img {
        position: relative;
        z-index: 1; }
    .site-portfolio .portfolio-gallery .image.small {
      grid-column: span 1;
      grid-row: span 1; }
    .site-portfolio .portfolio-gallery .image.big {
      grid-column: span 2;
      grid-row: span 2; }
    .site-portfolio .portfolio-gallery .image.huge {
      grid-column: span 4;
      grid-row: span 2; }
    @media (max-width: 800px) {
      .site-portfolio .portfolio-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em; }
        .site-portfolio .portfolio-gallery .image.huge {
          grid-column: span 2;
          grid-row: span 2; } }
