@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit 
}

html {
    font: 16px/1.5 'Roboto', sans-serif;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

li {
    list-style: none outside;
}

a {
    text-decoration: none;
    /* color: #7FBA00; */
}


p, ul, ol {
    padding-bottom: 1.5em;
}