*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit 
}

html {
    box-sizing: border-box;    
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
    /* color: #7FBA00; */
}