<!DOCTYPE html>
<html lang="bg">

<head>
    {% include head.html %}
</head>

<body onload="classChanger();">
    <div class="site">
        <input type="checkbox" id="toggle-nav" class="toggle-nav">
        <header class="site-header">
            {% include navigation.html %}
            {% include header.html %}
        </header>
            <main>
                {{ content }}
            </main>        
        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>
    {% if page.layout == 'main' %}
        <script src="{{ site.baseurl }}/scripts/header.js"></script>
    {% endif %}
</body>

</html>