<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if page.title %}
        {{page.title}}
        {% else %}
        {{site.title}}
        {% endif %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <script src="{{ site.baseurl }}/scripts/header.js"></script>
</head>

<body onload="classChanger();">
    <div class="site">
        <header class="site-header">
            {% include navigation.html %}
            <section id="header-images">
                <a href="#">
                    <span id="header-text"></span>
                </a>
                <div class="switcher">
                    <a href="javascript:switchImage(0)"><i class="fas fa-lightbulb"></i></a>
                    <a href="javascript:switchImage(1)"><i class="fas fa-bolt"></i></a>
                    <a href="javascript:switchImage(2)"><i class="far fa-star"></i></a>
                </div>
            </section>
        </header>
        <section>
            <main>
                {{content}}
            </main>
        </section>
        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>
</body>

</html>