<!DOCTYPE html>
<html lang="bg">

<head>
    {% include "head.html" %}
</head>

<body>
    <div class="site">
        <input type="checkbox" id="toggle-nav" class="toggle-nav">
        <header class="site-header">
            {% include "navigation.html" %}
        </header>
            <main>
                {{ content | safe }}
            </main>        
        <footer class="site-footer">
            {% include "footer.html" %}
        </footer>
    </div>
    <script src="{{ site.baseurl }}/scripts/portfolio-changer.js"></script>
</body>

</html>