@use "mixins";
@use "variables";

.button {
    display: inline-block;
    padding: 1em 1.5em;
    background-color: variables.$color-blue;
    color: variables.$color-white;
    border-radius: 0.3em;
    border: 1px solid transparent;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: 700;

    @include mixins.mq (laptop) {
        &:hover {
            cursor: not-allowed;
            background-color: variables.$color-yellow;
            color: variables.$color-gray;        
        }
    }

    @include mixins.mq (mobile) {
        visibility: hidden;
    }
}