.site-navigation {
    display: flex;
    padding: 1em 0.5em;
    align-items: center;
    background: #006838;
    border-radius: var(--sections-border-radius);
    position: fixed;
    width: 90%;
    z-index: 1;

    & .site-logo {
        position: relative;

        &:after {
            display: inline-block;
            content: '';
            padding-left: calc(2em + 58px);
        }
        
        & img {
            position: absolute;
            transform: translateY(-29%);
            padding-left: 2em;
        }
    }      

    .navigation-links {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding-bottom: 0;
        font-weight: 600;
        letter-spacing: 0.05em;
        padding-right: 1em;
        text-align: right;

        & li {
            padding: 0.5em;

            &:before {
                display: block;
                content: '';
                width: 85%;   
                margin: 0 auto;             
            }

            &:hover:before {
                outline: 2px solid #23AAF2;
            }           
        }

        & a {
            padding: 0.5em;
            color: #FFFFFF;
        }
    }
    
    @media (max-width: 1024px) {
        width: 100%;
    }

    @media (max-width: 800px) {
        position: static;
        width: 100%;

        .navigation-links {
            display: block;
        }
    }
}