.site-navigation {
    display: flex;
    padding: 0.3em 0;
    align-items: center;
    background: $color-blue;
    border-radius: $sections-border-radius;
    position: fixed;
    top: 1em;
    box-shadow: 0px 0px 1em 0.1em rgba($color-black, 0.95);
    width: 80rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    & .site-title {
        position: relative; 
        width: 73px;
        height: 73px;       
        margin-left: 2em;
        
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }      

    .navigation-links {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding-bottom: 0;
        font-weight: 600;
        letter-spacing: 0.05em;
        padding-right: 1em;
        text-align: center;

        & li {
            padding: 0.5em;
            position: relative;
        }
        
        .selected:after {
            display: block;
            content: '';
            outline: 2px solid rgba($color-green, 0.6);
            margin-top: 0.4em;            
        }

        & a {
            padding: 0.5em;
            color: $color-white;

            &:after {
                content: '';
                position: absolute;
                top: 80%;
                height: 4px;
                width: 0%;
                left: 5%;
                background-color: rgba($color-green, 0.6);
                transition: 0.5s ease all 0.2s;
            }

            @media (min-width: 1025px) {
                &:hover:after {
                    width: 90%;
                    transition: 0.3s ease all;
                }
            }
        }
    }
    
    @media (max-width: 1300px) {
        width: 97%;
    }

    @media (max-width: 800px) {
        position: static;
        width: 100%;
        transform: translateX(0);

        .navigation-links {
            display: block;
            font-size: 1.1em;
        }
    }
}