.site-services {
    text-align: center;
    width: 90%;
    margin: 0 auto;

    & header {
        padding: 4em 0 3em;

        & p {
            font-style: italic;

            &:after {
                @include underline;
            }
        }
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        padding-bottom: 0;
        
        & li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 32%;
            padding: 2.5em 1em;
            margin: 1em 0;
            border: 2px solid rgba(0, 104, 56, 0.6);
            border-radius: var(--sections-border-radius);

            @media (max-width: 1024px) {
                flex: 0 0 48%;
            }

            @media (max-width: 600px) {
                flex: 0 0 100%;
            }
        }

        & li:before {
            @include pseudo;
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            font-size: 5em;
            color: #FED136;
        }

        & li:nth-child(1):before { content: '\f0eb';}

        & li:nth-child(2):before { 
            content: '\f0e7';
            color: #F34F29;
        }

        & li:nth-child(3):before { 
            content: '\f005';
            color: #00A4EF;
        }  
        
        & li:nth-child(4):before { 
            content: '\f044';
            color: rgba(0, 104, 56, 0.85);
        }

        & li:nth-child(5):before { 
            content: '\f676';
            color: rgba(50, 51, 74, 0.75);
        }

        & li:nth-child(6):before { 
            content: '\f2a0';
            color: #FFAB4C;
        }
    }    
}

